  @font-face {
  font-family: "Gilroy Light";

  src: url("../fonts/Gilroylight.ttf"),
  url("../fonts/web/gilroylight.woff"),
  url("../fonts/web/gilroylight.woff2");
}

@font-face {
  font-family: "Gilroy Extrabold";

  src: url("../fonts/Gilroyextrabold.ttf"),
  url("../fonts/web/gilroyextrabold.woff"),
  url("../fonts/web/gilroyextrabold.woff2");
}

@font-face {
  font-family: "OpenSans-Reg";

  src: url("../fonts/OpenSans-Regular.ttf"),
  url("../fonts/web/opensans.woff"),
  url("../fonts/web/opensans.woff2");
}

@font-face {
  font-family: "OpenSans-Light";

  src: url("../fonts/OpenSans-Light.ttf"),
  url("../fonts/web/opensanslight.woff"),
  url("../fonts/web/opensanslight.woff2");
}

@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(40px);
  }

  90% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-10px);
  }
}

/*
  ==================
  Глобальные стилик
  ==================
  */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  text-align: left;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.btn {
  position: relative;
  z-index: 1;

  display: block;
  padding: 8px 35px;

  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 100%;
  height: 8px;
  margin-right: -50%;

  background-color: #f0c52e;
  transform: translate(-50%, -50%);
}

.btn:hover::before {
  height: 40px;

  transition: height 0.5s;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*
  ==================
  Хедер
  ==================
  */
.main-header {
  position: relative;

  width: 1160px;
  margin: 0 auto;
}

.main-header .container {
  width: 1040px;
  margin: 0 auto;
}

.main-navigation {
  padding: 0;

  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
  box-shadow: inset 0 40px rgba(255, 255, 255, 1);
}

/*
  ==================
  Верхняя часть хедера
  ==================
  */

.nav-logo:hover {
  opacity: 0.6;
}

.nav-logo:active {
  opacity: 0.3;
}

.main-navigation .nav-logo {
  margin-bottom: -24px;
  padding-top: 23px;
  padding-left: 59px;
}

/*
  ==================
  Средняя часть хедера
  ==================
  */

.user-block {
  margin-bottom: 28px;
  padding-top: 43px;
}

.user-block .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header-search-form {
  position: relative;

  display: flex;
  width: 440px;
  margin-top: -7px;
  margin-right: 120px;
}

.header-search-form::before {
  content: url(../img/search.svg);
  position: absolute;
  top: 13px;
  left: 3px;

  width: 16px;
  height: 16px;
}

.header-search__input {
  width: 357px;
  margin: 0;
  padding: 8px 0 8px 40px;

  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light";
  vertical-align: middle;
  letter-spacing: 0.15px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.header-search-form input[type="search"]:focus,
.header-search-form input[type="search"]:active {
  border-bottom: 2px solid #000000;
}

.header-search {
  position: relative;
}

.header-search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.header-search__input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.header-search-form button {
  position: absolute;
  top: -1px;
  left: 355px;

  display: none;
  width: 85px;
  height: 49px;

  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light";
  letter-spacing: 0.15px;

  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.header-search-form input[type="search"]:focus + button {
  display: block;
}

.header-search__btn:hover {
  display: block;

  color: white;

  background-color: black;
}

.header-search__btn:active {
  display: block;

  color: rgba(255, 255, 255, 0.5);
}

.user-navigation,
.shop-navigation {
  list-style: none;
}

.main-header .user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-left: 6px;
}

.main-header .shop-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin: 0;
  padding: 0;
}

.user-navigation a,
.shop-navigation a {
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;
}

.user-navigation .login-link {
  position: relative;

  margin-right: 20px;
}

.user-navigation .logout-link {
  opacity: 0.3;
}

.user-block .login-link:hover,
.user-block .compare-link:hover,
.user-block .cart-link:hover {
  opacity: 0.6;
}

.user-block .login-link:active,
.user-block .compare-link:active,
.user-block .cart-link:active {
  opacity: 0.3;
}

.login-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='%23272525' d='M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: -5px;
  left: -26px;
}

.shop-navigation .compare-link {
  position: relative;

  padding-left: 27px;
}

.compare-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E%0A");
  position: absolute;
  left: 7px;
}

.shop-navigation .cart-link {
  position: relative;

  padding-left: 63px;
}

.cart-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.864 3.017a.429.429 0 0 0-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 0 0-.327.154.472.472 0 0 0-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 0 0-.108-.358z'/%3E%3Cpath d='M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: -5px;
  left: 41px;
}

/*
  ==================
  Нижняя часть хедера
  ==================
  */

.navigation-catalog-list li,
.navigation-site {
  list-style: none;
}

.navigation-catalog {
  padding-bottom: 163px;
}

.main-header__inner-page {
  margin-bottom: 36px;
}

.main-header__inner-page .navigation-catalog {
  padding-bottom: 50px;
}

.navigation-catalog .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.navigation-catalog ul,
.navigation-site ul {
  margin: 0;
  padding: 0;
}

.navigation-catalog-list {
  position: relative;

  width: 540px;
}

.navigation-catalog-list .catalog-link {
  position: relative;
}

.navigation-catalog-list .catalog-link:hover {
  opacity: 0.6;
}

.navigation-catalog-list .catalog-link:active {
  opacity: 0.3;
}

.navigation-catalog-list .catalog-link::after {
  content: url(../img/plus.svg);
  position: absolute;
  top: 1px;
  left: 230px;

  width: 16px;
  height: 16px;
}

.navigation-catalog-list li {
  font-size: 15px;
  line-height: 36px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.2px;
}

.navigation-catalog-list > li:first-child {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-catalog-list .submenu {
  position: absolute;
  top: 23px;
  left: -60px;
  z-index: 2;

  display: none;
  width: 1160px;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 60px;

  background-color: #f7e296;
}

.submenu a:hover {
  opacity: 0.6;
}

.submenu a:active {
  opacity: 0.3;
}

.submenu .col-1 {
  margin-right: 57px;
}

.submenu .col-2 {
  margin-right: 75px;
}

.navigation-catalog-item:hover .submenu {
  display: flex;
}

.navigation-catalog-item:focus-within  .submenu {
  display: flex;
}

.navigation-site {
  display: flex;
  width: 500px;

  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-site a:hover {
  opacity: 0.6;
}

.navigation-site a:active {
  opacity: 0.3;
}

.header-navigation-site li:first-child {
  margin-right: 35px;
}

.header-navigation-site li:nth-child(2) {
  margin-right: 108px;
}


/*
  ==================
  Внутренняя страница (каталог)

  Общие стили
  ==================
  */

.catalog-container {
  width: 1040px;
  margin: 0 auto;
}

.catalog-page-tittle {
  margin-bottom: 23px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

/*
  ==================
  Внутренняя страница (каталог)

  Хлебные крошки
  ==================
  */
.catalog-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  list-style: none;
}

.catalog-breadcrumbs li {
  position: relative;

  margin-right: 34px;
}

.catalog-breadcrumbs li::after {
  content: url(../img/nav-arrow.svg);
  position: absolute;
  top: -1px;
  left: 68px;
}

.catalog-breadcrumbs li:nth-child(2)::after {
  left: 129px;
}

.catalog-breadcrumbs li:last-child::after {
  content: "";
}

.catalog-breadcrumbs__item a {
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSans-Reg", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.14px;

  opacity: 0.3;
}

/*
  ==================
  Внутренняя страница (каталог)

  Верхняя часть каталога
  ==================
  */

.catalog-header {
  background-image: linear-gradient(to right,#dcdcdc 0,#dcdcdc 34%,#ebebeb 34%,#ebebeb 100%);
}

.catalog-header .wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-header__filter-title {
  display: block;
  width: 325px;
  margin-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 59px;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-sort {
  display: flex;
  flex-wrap: wrap;
  width: 810px;
  margin: 0;
  padding: 0;
  padding-left: 28px;
}

.catalog-sort__title {
  margin-right: 15px;
  padding-top: 10px;

  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-sort ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-top: 23px;

  list-style: none;
}

.catalog-sort__item {
  margin-right: 30px;
  padding-top: 2px;

  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSans-Reg", "Arial", sans-serif;
  color: #000000;

  opacity: 0.3;
}

.catalog-sort__item--up {
  position: relative;
}

.catalog-sort__item--up::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 201px;

  display: inline-block;

  border-width: 0 5.5px 9.5px 5.5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
  opacity: 0.2;
}

.catalog-sort__item--down {
  position: relative;
}

.catalog-sort__item--down::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 230px;

  display: inline-block;
  width: 0;
  height: 0;

  border-width: 9.5px 5.5px 0 5.5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.catalog-sort__item-current {
  opacity: 1;
}

/*
  ==================
  Внутренняя страница (каталог)

  Фильтр
  (Общие стили)
  ==================
  */
.catalog-main {
  background-image: linear-gradient(to right,#ebebeb 0,#ebebeb 34%,transparent 34%,transparent 100%);
}

.catalog-main .wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-form {
  width: 325px;
  margin-right: 75px;
  padding-top: 28px;
  padding-left: 59px;
}

.catalog-form ul {
  list-style: none;
}

.catalog-form label {
  font-size: 14px;
  line-height: 40px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.14px;
}

.catalog-form h3 {
  margin-top: 10px;
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-form .btn {
  width: 200px;
  margin-top: -10px;
}

/*
  ==================
  Внутренняя страница (каталог)

  Фильтр
  (Ползунок)
  ==================
  */

.range-filter {
  display: block;
  width: 201px;
  margin-top: 40px;
  margin-bottom: 33px;

  border: none;
  border-top: 2px solid black;
}

.range-filter h3 {
  margin-top: 10px;
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
}

.range-controls {
  position: relative;

  margin-bottom: 10px;

  background: #efefef;
  border-radius: 5px;
}

.range-controls .scale {
  width: 200px;
  height: 2px;

  background: #dcdcdc;
}

.range-controls .bar {
  width: 115px;
  height: 2px;

  background-color: #72ca00;
}

.range-controls .toggle {
  position: absolute;
  top: -6px;
  left: 0;

  width: 20px;
  height: 22px;

  background-image: url(../img/filter-button.svg);
  cursor: pointer;
}

.price-controls span {
  display: inline-block;
  margin-right: 62px;

  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy Light", "Arial", sans-serif;
  vertical-align: middle;
  color: #000000;

  opacity: 0.4;
}

.price-controls span:last-of-type {
  margin-right: 0;
}

.max-price {
  text-align: right;
}

.range-controls .toggle:active {
  width: 24px;
  height: 24px;

  background-image: url(../img/filter-button-active.svg);
  background-repeat: no-repeat;
}

.range-controls .toggle-min {
  left: -1px;
}

.range-controls .toggle-min:active {
  position: absolute;
  top: -8px;
  left: -2px;
}

.range-controls .toggle-max {
  left: 110px;
}

.range-controls .toggle-max:active {
  position: absolute;
  top: -8px;
  left: 108px;
}

.price-controls {
  font-size: 0;
}

/*
  ==================
  Внутренняя страница (каталог)

  Фильтр
  (Чекбоксы)
  ==================
  */

.catalog-form__colors {
  width: 201px;
  margin-bottom: 31px;

  border-top: 2px solid black;
}

.catalog-form__colors h3 {
  margin-bottom: 18px;
}

.catalog-form .option {
  display: block;
}

.catalog-form .check {
  padding-left: 3em;
}

.catalog-form .check__input {
  position: absolute;
}

.catalog-form .check__box {
  position: absolute;

  width: 27px;
  height: 23px;
  margin-top: 8px;
  margin-left: -3em;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.catalog-form .check__input:checked + .check__box {
  background-image: url(../img/checkbox-on.svg);
}

/*
  ==================
  Внутренняя страница (каталог)

  Фильтр
  (Радио-кнопки)
  ==================
  */

.catalog-form__options {
  width: 201px;

  border-top: 2px solid black;
}

.catalog-form__options h3 {
  margin-bottom: 18px;
}

.catalog-form .radio {
  padding-left: 3em;
}

.catalog-form .radio__input {
  position: absolute;
}

.catalog-form .radio__box {
  position: absolute;

  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-left: -3em;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.catalog-form .radio__input:checked + .radio__box {
  background-image: url(../img/radio-on.svg);
}

.catalog-form__options {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.catalog-form__options legend {
  margin-bottom: 17px;
}

/*
  ==================
  Внутренняя страница (каталог)

  Контентная часть
  ==================
  */

.catalog-content {
  width: 760px;
  margin-bottom: 77px;
  padding-top: 68px;
}

.catalog-content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  list-style: none;
}

.catalog-content__list li {
  width: 360px;
  margin-bottom: 45px;
}

.catalog-content__list img {
  margin-bottom: 27px;
}

.catalog-content__item {
  position: relative;
}

.catalog-content__item h3 {
  width: 270px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.catalog-content__item:nth-of-type(2) h3 {
  width: 175px;
}

.catalog-content__item:nth-of-type(4) h3 {
  width: 225px;
}

.catalog-content__img  .catalog-content__block {
  position: absolute;
  top: 40%;
  left: 50%;

  display: none;
  margin: 0;
  margin-right: -50%;

  transform: translate(-50%, -50%);
}

.catalog-content__item:hover  .catalog-content__block,
.catalog-content__item:focus-within .catalog-content__block {
  display: block;
}

.catalog-content__item:hover img,
.catalog-content__item:focus-within img {
  cursor: pointer;
  opacity: 0.7;
}

.catalog-content__block .compare-button {
  display: block;
  margin: 0 auto;
  padding-left: 30px;

  font-size: 13px;
  line-height: 36px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.13px;

  opacity: 0.5;
}

.catalog-content__item:last-child {
  position: relative;
}

.catalog-content__item:last-child::after {
  content: "new";
  position: absolute;
  top: 30px;
  left: 273px;

  width: 60px;
  height: 60px;
  padding: 15px;
  padding-top: 16px;
  padding-left: 13px;

  font-size: 14px;
  line-height: 1.71;
  vertical-align: center;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-content__list .description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-content__list li:last-child {
  margin-bottom: 0;
}

.catalog-content__list .description-price {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy Light", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.16px;
}

/*
  ==================
  Внутренняя страница (каталог)

  Контентная часть
  (Пагинация)
  ==================
  */

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  min-height: 70px;

  background-color: #efefef;
}

.catalog-pagination__list {
  padding: 0;

  list-style: none;
}

.catalog-pagination .back {
  margin-right: auto;
  padding-top: 5px;
  padding-left: 30px;
}

.catalog-pagination .next {
  margin-left: auto;
  padding-top: 5px;
  padding-right: 28px;
}

.catalog-pagination__list a {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-pagination__middle {
  display: flex;
  width: 160px;
  padding-top: 6px;

  list-style: none;
}

.catalog-pagination__middle li {
  margin-right: 28px;

  opacity: 0.3;
}

.catalog-pagination__middle .current {
  opacity: 1;
}

/*
  ==================
  Слайдер
  Общие стили
  ==================
*/
.slider {
  position: relative;
}

.slider .container {
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  position: relative;
  z-index: 1;

  min-height: 380px;
  margin: 0;
  margin-bottom: 101px;
  padding: 0;

  list-style: none;
}


.slider-img {
  width: 560px;
  margin-right: 40px;
}

.slider-block .slogan::before {
  content: "";
  position: absolute;
  top: -41px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-block .slogan {
  position: relative;

  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}

.slider-block {
  width: 560px;
  margin: 0;
  padding: 0;
  padding-top: 78px;
}

.slider-block p {
  display: block;
  margin-bottom: 43px;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  text-align: left;
  color: #464646;
  letter-spacing: 0.15px;
}

.slider-block .btn {
  width: 220px;
  margin-bottom: 47px;
}

.slider-table {
  width: 460px;
}

.slider-table td {
  width: 160px;
  padding-bottom: 4px;

  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy Light", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.36px;
}

.slider-table td:nth-of-type(2),
.slider-table th:nth-of-type(2) {
  width: 140px;
  padding-left: 3px;
}

.slider-table td:nth-of-type(3) {
  width: 160px;
  padding-left: 3px;
}

.slider-table th:nth-of-type(3) {
  padding-left: 5px;
}

.slider-table th {
  font-size: 13px;
  line-height: 20px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.13px;
}

.slider-item {
  display: none;
}

.product-1:checked ~ .slider-list .slider-item:nth-child(1),
.product-2:checked ~ .slider-list .slider-item:nth-child(2),
.product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: flex;
}

.slider-controls {
  position: absolute;
  top: 216px;
  left: 1079px;
  z-index: 100;

  display: flex;
  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  transform: translateX(-50%);
}



.slider-controls label {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 21px;

  background-image: url(../img/slider-button.svg);
}

.slider-controls label:hover {
  cursor: pointer;
}

.product-1:checked ~ .slider-controls .slider-controls-item--1,
.product-2:checked ~ .slider-controls .slider-controls-item--2,
.product-3:checked ~ .slider-controls .slider-controls-item--3 {
  background-image: url(../img/slider-button-checked.svg);
}


/*
  ==================
  Слайдер
  Стили слайдер 01
  ==================
  */

.slider-item:nth-child(1) {
  position: absolute;
  top: -111px;
}

.slider-item:nth-child(1) .slider-img {
  padding-left: 90px;
}

.slider-item:nth-child(1) .slogan::after {
  content: "01";
  position: absolute;
  top: -93px;
  left: 329px;

  font-size: 179px;
  line-height: 1;
  text-align: right;
  color: #ffffff;
  letter-spacing: 1.79px;
}

.slider-item:nth-child(1) p {
  width: 485px;
}

.slider-item:nth-child(1) .slider-table {
  margin-left: -3px;
}

.sliders-check {
  position: absolute;
  top: 216px;
  right: 65px;

  display: flex;
}

.sliders-check .slider-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 20px;

  background-image: url(../img/slider-button.svg);
}



/*
  ==================
  Слайдер
  Стили слайдер 02
  ==================
  */


.slider-item:nth-child(2) {
  position: absolute;
  top: -111px;
}

.slider-item:nth-child(2) .slider-img {
  padding-top: 12px;
  padding-left: 116px;
}

.slider-item:nth-child(2) .slogan::after {
  content: "02";
  position: absolute;
  top: -93px;
  left: 305px;

  font-size: 179px;
  line-height: 1;
  text-align: right;
  color: #ffffff;
  letter-spacing: 0.36px;
}

.slider-item:nth-child(2) p {
  width: 460px;
}

.slider-item:nth-child(2) .slider-table {
  margin-left: -3px;
}

/*
  ==================
  Слайдер
  Стили слайдер 03
  ==================
  */

.slider-item:nth-child(3) {
  position: absolute;
  top: -111px;
}

.slider-item:nth-child(3) .slider-img {
  padding-top: 65px;
  padding-left: 31px;
}

.slider-item:nth-child(3) .slogan {
  position: relative;
  z-index: 1;
}

.slider-item:nth-child(3) .slogan::after {
  content: "03";
  position: absolute;
  top: -92px;
  left: 303px;
  z-index: -1;

  font-size: 179px;
  line-height: 1;
  text-align: right;
  color: #ffffff;
  letter-spacing: 1.79px;
}



.slider-item:nth-child(3) .slider-block {
  padding-left: 0;
}

.slider-item:nth-child(3) p {
  width: 460px;
}

.slider-item:nth-child(3) .slider-table {
  margin-left: -3px;
}

.slider-item:nth-child(3) td:nth-of-type(1),
.slider-item:nth-child(3) th:nth-of-type(1) {
  width: 60px;
}

.slider-item:nth-child(3) td:nth-of-type(2),
.slider-item:nth-child(3) th:nth-of-type(2) {
  padding-left: 10px;
}

/*
  ==================
  Каталог 
  (Второе меню в index.html)
  ==================
  */

.index-catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 177px;
  padding: 0;

  list-style: none;
}

.index-catalog-list a {
  position: relative;

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  background-color: rgba(240, 197, 46, 0.5);
}

.index-catalog-list a:hover {
  background-color: rgba(240, 197, 46, 1);
}

.index-catalog-list a:active {
  background-color: rgba(240, 197, 46, 1);
}

.index-catalog-list .col-1::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 32px;

  width: 160px;
  height: 65px;

  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
}

.index-catalog-list .col-2::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 38px;

  width: 90px;
  height: 120px;

  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
}

.index-catalog-list .col-3::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 48px;

  width: 90px;
  height: 120px;

  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
}

.index-catalog-list .col-4::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 28px;

  width: 160px;
  height: 120px;

  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
}

.index-catalog-list .col-5::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 55px;

  width: 160px;
  height: 120px;

  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
}

.index-catalog-list .col-6::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 13px;

  width: 160px;
  height: 120px;

  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
}

.index-catalog-list  .col-1:hover::before,
.index-catalog-list  .col-2:hover::before,
.index-catalog-list  .col-3:hover::before,
.index-catalog-list  .col-4:hover::before,
.index-catalog-list  .col-5:hover::before,
.index-catalog-list  .col-6:hover::before {
  opacity: 1;
}

.index-catalog-list .col-1:active::before,
.index-catalog-list .col-2:active::before,
.index-catalog-list .col-3:active::before,
.index-catalog-list .col-4:active::before,
.index-catalog-list .col-5:active::before,
.index-catalog-list .col-6:active::before {
  opacity: 0.5;
}

.index-catalog-item:nth-of-type(2) span {
  display: block;
  width: 100px;
}

.index-catalog-item {
  width: 160px;
  height: 245px;
}

/*
  ==================
  Услуги
  Общие стили
  ==================
  */

.services {
  position: relative;

  min-height: 288px;
  margin-bottom: 95px;

  background-color: #e5e5e5;
}

.services .container {
  position: absolute;
  top: -74px;
  left: 212px;

  display: flex;
  width: 1160px;
}

/*
  ==================
  Услуги
  Кнопки
  ==================
  */


.services-check {
  position: relative;
  top: -26px;

  width: 284px;
  min-height: 319px;
  margin-right: 118px;
  padding-top: 80px;

  border-right: 7px solid #000000;
}

.description-item {
  display: none;
}

.services-check .btn {
  width: 160px;
  margin-bottom: 25px;
}

.services-check .btn-1 {
  margin-bottom: 24px;
  padding-left: 19px;
}

.services-check .btn-2 {
  padding-left: 24px;
}

.delivery-button:checked ~ .services-description .description-item:nth-child(1),
.guarantee-button:checked ~ .services-description .description-item:nth-child(2),
.credit-button:checked ~ .services-description .description-item:nth-child(3) {
  display: block;
}

.delivery-button:checked ~ .services-check .btn-1::before,
.guarantee-button:checked ~ .services-check .btn-2::before,
.credit-button:checked ~ .services-check .btn-3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 100%;
  height: 8px;
  margin-right: -50%;

  background-color: #000000;
  transform: translate(-50%, -50%);
}

.delivery-button:checked ~ .services-check .btn-1,
.guarantee-button:checked ~ .services-check .btn-2,
.credit-button:checked ~ .services-check .btn-3 {
  width: 280px;

  color: #f7e184;
  letter-spacing: 3.6px;

  background-color: #000000;

  transition: width 0.5s;
}

.delivery-button:checked ~ .services-check .btn-1 {
  padding-left: 19px;

  text-align: left;
}

.guarantee-button:checked ~ .services-check .btn-2 {
  padding-left: 24px;

  text-align: left;
}

.credit-button:checked ~ .services-check .btn-3 {
  text-align: left;
}

/*
  ==================
  Услуги 
  Общиие стили слайдера
  ==================
  */
.services-description {
  margin-top: 1px;
  margin-left: -40px;
}

.services-description h3 {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.services-description p {
  width: 460px;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.2px;
}

/*
  ==================
  Услуги
  Стили слайдера доставки
  ==================
  */



.services-description .delivery {
  position: relative;
}

.services-description .delivery::after {
  content: url(../img/delivery.svg);
  position: absolute;
  top: 12px;
  left: 556px;
}

/*
  ==================
  Услуги
  Стили слайдера гарантии
  ==================
  */


.services-description .guarantee::after {
  content: url(../img/guarantee.svg);
  position: absolute;
  top: 35px;
  left: 943px;
}

/*
  ==================
  Услуги
  Стили слайдера кредита
  ==================
  */


.services-description .credit::after {
  content: url(../img/credit.svg);
  position: absolute;
  top: 35px;
  left: 935px;
}

.services .description-credit {
  width: 430px;
  padding: 0;
}

/*
  ==================
  Поставщики
  ==================
  */

.shipper-list {
  z-index: -1;

  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 99px;
  padding: 0;

  list-style: none;
}

.shipper-item:first-of-type:hover {
  z-index: 2;

  background-image: url(../img/dji.jpg);
}

.shipper-item:nth-of-type(2):hover {
  z-index: 2;

  background-image: url(../img/spgadgets.jpg);
}

.shipper-item:nth-of-type(3):hover {
  z-index: 2;

  background-image: url(../img/gopro.jpg);
}

.shipper-item:nth-of-type(4):hover {
  z-index: 2;

  background-image: url(../img/vive.jpg);
}

/*
  ==================
  Блок о нас
  Общие стили
  ==================
  */

.about-us-block {
  margin-bottom: 82px;
}

.about-us-block .wrapper {
  display: flex;
}

.about-us-block .decoration {
  width: 80px;

  border: 3px solid #000000;
}

.about-us-block h2 {
  position: relative;
  right: 1px;

  margin-bottom: 44px;

  font-size: 47px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.5px;
}

.about-us-block h2::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 1px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us-block p {
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  text-align: left;
  color: #464646;
}

/*
  ==================
  Блок о нас
  Стили левой части
  ==================
  */

.about-us {
  width: 462px;
  margin-right: 136px;
}

.about-us p:first-of-type {
  margin-bottom: 30px;
}

.about-us-block p {
  width: 475px;
  margin-bottom: 64px;
}

.about-us-list {
  margin-bottom: 55px;
  padding: 0;
  padding-left: 36px;

  list-style: none;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy Extrabold", "Arial", sans-serif;
}

.about-us-list li {
  position: relative;
}

.about-us-list li::before {
  content: url(../img/slider-button.png);
  position: absolute;
  top: 0;
  left: -34px;
}

/*
  ==================
  Блок о нас
  Стили правой части
  ==================
  */

.contacts h2::before {
  left: 3px;
}

.contacts p {
  width: 540px;
}

.contacts .contacts-map {
  margin-bottom: 60px;
}

.about-us-block .contacts {
  width: 560px;
}

.about-us-block .contacts p:first-of-type {
  margin-bottom: 41px;
}

.about-us .btn {
  box-sizing: border-box;
  width: 260px;
  padding-right: 0;
  padding-left: 0;
}

.contacts .btn {
  width: 260px;
  margin-left: 2px;
}

/*
  ==================
  Футер
  Общие стили
  ==================
  */

.main-footer {
  background-color: #464646;
}

.main-footer .container {
  width: 1160px;
  margin: 0 auto;
}

/*
  ==================
  Футер
  Верхняя часть
  ==================
  */

.footer-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  padding-top: 45px;
}

.footer-nav .nav-logo {
  padding-top: 20px;
}

.main-footer .nav-logo {
  margin-right: auto;
}

.nav-logo a:hover {
  opacity: 0.6;
}

.nav-logo a:active {
  opacity: 0.3;
}

.main-footer .nav-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 480px;
}

.footer-user-navigation {
  display: flex;
  padding: 0;

  list-style: none;
}

.footer-shop-navigation {
  display: flex;
  margin-left: 15px;
  padding: 0;
}

.main-footer__inner-page .footer-shop-navigation {
  margin-left: 35px;
}

.footer-user-navigation a,
.footer-shop-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation .login-link:hover,
.footer-shop-navigation .compare-link:hover,
.footer-shop-navigation .cart-link:hover,
.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation .login-link:active,
.footer-shop-navigation .compare-link:active,
.footer-shop-navigation .cart-link:active,
.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}


.footer-user-navigation .login-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpath fill='rgba(255, 198, 0, 1)' d='M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z'/%3E%3C/svg%3E%0A");
}

.footer-shop-navigation .compare-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='rgba(255, 198, 0, 1)'%3E%3Cpath d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E%0A");
}

.footer-shop-navigation .cart-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='rgba(255, 198, 0, 1)'%3E%3Cpath d='M11.864 3.017a.429.429 0 0 0-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 0 0-.327.154.472.472 0 0 0-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 0 0-.108-.358z'/%3E%3Cpath d='M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z'/%3E%3C/svg%3E%0A");
}

.footer-user-navigation .login-link:hover::before,
.footer-shop-navigation .compare-link:hover::before,
.footer-shop-navigation .cart-link:hover::before {
  opacity: 0.6;
}

.footer-user-navigation .login-link:active::before,
.footer-shop-navigation .compare-link:active::before,
.footer-shop-navigation .cart-link:active::before {
  opacity: 0.3;
}

/*
  ==================
  Футер
  Средняя часть
  ==================
  */

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.footer-info .info-contact {
  display: block;
  width: 260px;
  padding-top: 10px;

  font-size: 15px;
  line-height: 2;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  text-align: right;
  color: #ffffff;
  letter-spacing: normal;
}


.footer-info  .info-contact:first-of-type {
  position: relative;

  margin-right: auto;

  text-align: left;
}

.footer-info .number {
  margin-left: auto;
}

.footer-info  .info-contact:first-of-type::before {
  content: "";
  position: absolute;
  top: 118px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-navigation-site {
  justify-content: space-between;
  width: 440px;
  padding-top: 0;
  padding-right: 5px;
  padding-left: 7px;
}

.footer-navigation-site a {
  color: #ffffff;
}

/*
  ==================
  Футер
  Нижняя часть
  ==================
  */

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 45px;
}

.social-button-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-right: 433px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 9px;

  list-style: none;
}

.social-button-list a:hover {
  opacity: 0.6;
}

.social-button-list a:active {
  opacity: 0.3;
}

.copyright-btn-list {
  padding-top: 0;

  list-style: none;
}

.copyright-btn-list a:hover {
  opacity: 0.6;
}

.copyright-btn-list a:active {
  opacity: 0.3;
}

/*
  ==================
  Попап
  Напишите нам
  ==================
  */


.write-us {
  position: fixed;
  top: 80px;
  left: 280px;
  z-index: 2;

  display: none;
  width: 960px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}


.write-us-show {
  display: flex;

  animation: bounce 0.5s;
}

.write-us-error {
  animation: shake 0.5s;
}

.write-us .container1 {
  width: 760px;
  margin: 0 auto;
}

.write-us .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.write-us-name,
.write-us-email {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10px;
}



.write-us label,
.write-us-email label {
  margin-bottom: 7px;
}

.write-us-name input[type="text"],
.write-us-email input[type="email"] {
  width: 360px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  letter-spacing: normal;

  background-color: #e5e5e5;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  opacity: 0.5;
}

.write-us-name input[type="text"]:focus,
.write-us-email input[type="email"]:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.write-us-name input[type="text"]:hover,
.write-us-email input[type="email"]:hover {
  opacity: 0.8;
}

.write-us-comment {
  display: flex;
  flex-direction: column-reverse;
}

.write-us-comment label {
  margin-bottom: 8px;
}

.write-us textarea {
  width: 760px;
  margin-bottom: 43px;
  padding-top: 15px;
  padding-bottom: 103px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  letter-spacing: normal;

  background-color: #e5e5e5;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  opacity: 0.5;
}

.write-us textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.write-us textarea:hover {
  opacity: 0.8;
}

.write-us .close-btn {
  position: relative;
  top: 10px;
  left: 783px;

  display: inline-block;
  width: 55px;
  height: 55px;

  background-color: rgba(240, 197, 46, 0.5);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.write-us .close-btn:hover {
  background-color: rgba(240, 197, 46, 1);
}


.write-us .close-btn::before,
.write-us .close-btn::after {
  content: " ";
  position: absolute;
  top: 14px;

  width: 1px;
  height: 30px;
  margin: 0;
  margin-right: -50%;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.write-us .close-btn::before {
  transform: rotate(45deg);
}

.write-us .close-btn::after {
  transform: rotate(-45deg);
}



.write-us .close-btn:hover:before {
  width: 2px;

  transform: rotate(-135deg);

  transition: transform 0.3s,  background-color 0.45s;
}

.write-us .close-btn:hover:after {
  width: 2px;

  transform: rotate(135deg);

  transition: transform 0.3s, background-color 0.45s;
}

.write-us .btn {
  margin-bottom: 79px;
}

/*
  ==================
  Попап
  Карта
  ==================
  */

.map {
  position: fixed;
  top: 30px;
  left: 280px;
  z-index: 2;

  display: none;
  width: 960px;
  margin: 0 auto;
}

.map-show {
  display: block;

  animation: bounce 0.5s;
}

.map .close-btn {
  position: relative;
  top: 72px;
  left: 880px;
  z-index: 3;

  display: inline-block;
  width: 55px;
  height: 55px;

  background-color: rgba(240, 197, 46, 0.5);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.map .close-btn:hover {
  background-color: rgba(240, 197, 46, 1);
}

.map .close-btn::before,
.map .close-btn::after {
  content: " ";
  position: absolute;
  top: 20%;
  left: 50%;

  width: 1px;
  height: 30px;
  margin: 0;
  margin-right: -50%;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.map .close-btn::before {
  transform: rotate(45deg);
}

.map .close-btn::after {
  transform: rotate(-45deg);
}

.map .close-btn:hover:before {
  width: 2px;

  transform: rotate(-135deg);

  transition: transform 0.3s,  background-color 0.75s;
}

.map .close-btn:hover:after {
  width: 2px;

  transform: rotate(135deg);

  transition: transform 0.3s, background-color 0.75s;
}

.contacts iframe,
.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.map img {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;

  margin: 0;
}
